h1 {color: darkblue;
}
#reyna {width: 45%;}

h1 {font-size: 300%;}

h2 {font-size: 150%;}

h1 {text-align: center;}

#reyna {margin-left: 28%;}

h2 {text-align: center;}

#Habilidades {margin-left: 34%;}

#Habilidades {width: 30%;}

h2 {color: darkgreen;}

h3 {color: purple;}

h3 {font-size: 125%;}

h4 {color: darkred;}

h4 {font-size: 125%;}

h5 {color: orange;}

h5 {font-size: 125%;}

h6 {color: firebrick;}

h6 {font-size: 125%;}

#jett {width: 40%;}
#jett {margin-left: 30%;}

body {background-color: black;}